<%- include('includes/head'); %>

  <section class="container">
    <h1>
      <% if (typeof title !== 'undefined') { %>
        <%= title %>
      <% } else { %> 
        Error: title undefined 
      <% } %>
    </h1>
    <form action="/" method="POST">
        First name: <input type="text" name="firstName"><br>
        Last name: <input type="text" name="lastName">
        <button>Submit</button>
    </form>
  </section>

<%- include('includes/footer'); %>